<h1>{{.Title}}</h1>

<form action="/save_network_credentials" method="POST">
  <div>
    <label for="network-selector">WIFI Name:</label>
    <br/>
    <select id="network-selector" name="networkName"></select>
    <a href="#" id="refresh-network-list">Refresh</a>
    <br/>
    <br/>
    <label for="password">WIFI Password:</label>
    <br/>
    <input type="password" name="password" id="password" />
    <br/>
    <br/>
    <input type="submit" value="Save">
  </div>
</form>

<script type="text/javascript" src="/javascripts/index"></script>